# Игнорируем ненужные файлы для Docker контекста
.git
.gitignore
README.md

# Node modules и другие временные файлы
frontend/node_modules/
frontend/dist/
backend/venv/
backend/__pycache__/

# IDE файлы
.idea/
.vscode/

# Системные файлы
.DS_Store
Thumbs.db

# Лог файлы
*.log
